<nav class="navbar navbar-expand-lg fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand">Dating App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Likes</a>
        </li>
        <li *ngIf="!(accountService.currentUser$ | async)" class="nav-item">
          <a class="nav-link" (click)="toggleRegister()">Register</a>
        </li>
        <li *ngIf="accountService.currentUser$ | async" class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      <form
        *ngIf="!(accountService.currentUser$ | async)"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        class="d-flex"
        role="search"
      >
        <input
          class="form-control"
          name="username"
          [(ngModel)]="loginInfo.username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
        />
        <input
          class="form-control"
          name="password"
          [(ngModel)]="loginInfo.password"
          class="form-control me-2"
          type="text"
          placeholder="Password"
        />
        <button class="btn btn-lg btn-outline-success" type="submit">
          Login
        </button>
      </form>

      <div
        *ngIf="accountService.currentUser$ | async"
        class="btn-group"
        dropdown
      >
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic"
        >
          Welcome user <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu mt-3"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem" style="cursor: pointer">
            <a class="dropdown-item">Edit profile</a>
          </li>
          <li role="menuitem" style="cursor: pointer">
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<ng-container
  *ngIf="!showRegisterForm && !(accountService.currentUser$ | async)"
>
  <div class="container text-center" style="margin-top: 200px">
    <h2>Find your match!</h2>
    <p>Come on in to view your matches... all you need to do is sign up!</p>
    <button type="button" class="btn btn-primary" (click)="toggleRegister()">
      Register
    </button>
  </div>
</ng-container>

<ng-container
  *ngIf="!(accountService.currentUser$ | async) && showRegisterForm"
>
  <form #register_form="ngForm" (ngSubmit)="register()">
    <div class="container register_form" style="margin-top: 100px">
      <div style="width: 300px; margin: auto">
        <h2 class="text-center">Sign up</h2>
        <hr />
        <input
          type="text"
          name="username"
          [(ngModel)]="registerInfo.username"
          class="mb-2"
          placeholder="Username"
        />
        <input
          type="text"
          name="password"
          [(ngModel)]="registerInfo.password"
          placeholder="Password"
        />

        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-success me-2">Register</button>
          <button
            type="button"
            class="btn btn-light"
            (click)="toggleRegister()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
