.nav-link, .navbar-brand {
  color: white;
  cursor: pointer;
}
.navbar-brand {
  font-weight: bold;
  font-size: 30px;
}
.register_form input{
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}